@import '../../../App.scss';

.match-details {
  &__paper {
    text-align: center;
    padding: 10px;
  }

  &__table {
    // width: 500px;
    margin: auto;
  }

  &__head {
    // background: $primary;
    // color: white !important;
    font-size: 1.25em !important;
    font-weight: bold !important;
  }
}
